{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="section mt-5">
    <div class="grid-2a justify-sb pb-5 line-b">
        <div class="h1">Profile</div>
        <div class="sub-1 text-light-grey">Provision&co</div>
    </div>
    <div class="grid-2 mt-5">
        <div>Profile</div>

        <div>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            <input class="button-light-w" type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}
