<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Provision&Co</title>
	{% load static %}
	<link rel="stylesheet" href="/static/css/style-new.css" type="text/css">
</head>
<body>
<!--Header-->
	<div class="header bg-black">
		<div class="grid-4 header-nav">
			<div><a href="/"><img src="/static/images/header/logo.svg" alt="logo"></a></div>
			<div class="grid-4a align-c link-title-2">
				<a href="#">men</a>
				<a href="#">women</a>
				<a href="#">lookbook</a>
				<a href="contacts/">contacts</a>
			</div>
			<div></div>
			<div class="grid-4a align-c justify-e">
				<a href="#"><img src="/static/images/header/Search.svg" alt="search"></a>
				<a href="#"><img src="/static/images/header/Profile.svg" alt="profile"></a>
				<a href="#"><img src="/static/images/header/Favorite.svg" alt="favorite"></a>
				<a href="#"><img src="/static/images/header/Bag.svg" alt="bag"></a>
			</div>
		</div>
	</div>
<!--Contacts-->
	<div class="section mt-5">
		<div class="grid-2a justify-sb pb-5 line-b">
			<div class="h1">contacts</div>
			<div class="sub-1 text-light-grey">Provision&co</div>
		</div>
		<div class="grid-2 mt-5">
			<div>
				<div class="h2">{{ contacts.name }}</div>
				<div class="text-2 py-2">{{ contacts.address }}<br>
				{{ contacts.phone }}<br>
				{{ contacts.email }}</div>
				<div class="h4">Manifesto</div>
				<div class="text-2 mt-5">Our brand lives by a conscious mindset. Not just when it comes to creating quality clothing and goods, but as we strive for quality in everything we do.<br><br>
Hailing from Birmingham’s creative heartbeat, the Jewellery Quarter, the brand has been built in a place synonymous with quality. It’s historic, hardworking & hardwearing attitude continues to fuel our passion for creating clothing that will stand the test of time.<br><br>
				Working closely with our factories across the globe, we continually push ourselves to create the best clothing, as sustainably as we can.
At P&Co we live by 3 core values - creativity quality & pride. These 3 values help focus, drive & unite us all, not only as a brand but as people.
				</div>
			</div>
			<div>
				<form class="forms" method="post">
					{% csrf_token %}
					<input class="form field-title" type="text" name="name" placeholder="Name*">
					<input class="form field-title" type="text" name="phone" placeholder="Number phone">
					<input class="form field-title" type="email" name="email" placeholder="E-mail">
					<textarea class="form field-title" name="message" placeholder="Your question"></textarea>
					<input class="button-light-w" type="submit" value="hire us">
				</form>
			</div>
		</div>
	</div>
	<div class="contact-section text-1">
		We're Making <span class="text-1i">Small</span> Changes to Make <span class="text-1i">a Big</span> Difference
		<div class="mt-4">
			<img src="static/images/signature.png" alt="signature">
		</div>
		<div class="text-2 text-grey mb-2">
			Jordan Brookes<br>Co-owner & General Manager
		</div>
	</div>
<!--Footer-->
	<div class="section bg-black mt-6 py-5 text-white">
		<div class="grid-2">
			<div>
				<img style="opacity: 0.1;" src="/static/images/footer/logo-big.svg" alt="logo">
			</div>
			<div class="grid-4a sub-3 justify-sb">
				<div>navigation</div>
				<div>info</div>
				<div>socials</div>
				<div>sign up for newsletter</div>
			</div>
		</div>
	</div>
</body>
</html>