<!--Страница для добавления товаров в БД-->

{% extends 'catalog/base.html' %}
<!--{% load static %}-->
{% block content %}
<!--Add Product-->
<div class="section mt-5">
    <div class="grid-2a justify-sb pb-5 line-b">
        <div class="h1">add new item</div>
        <div class="sub-1 text-light-grey">Provision&co</div>
    </div>
    <div class="grid-2 mt-5">
        <div>FAQ how to add new items</div>
        <div>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            <input class="button-light-w" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>

{% endblock %}
