<!--Главная страница сайта-->

{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<!--Начальный экран-->
	<div class="cover bg-black">
		<div class="grid-2a justify-sb align-e py-3">
			<div class="h1 text-white">//23 Hot summer - final drop</div>
			<form style="margin-bottom: 22px" action="{% url 'catalog:catalog' %}">
				<button class="button-dark">discover collection</button>
			</form>
		</div>

		<div class="cover-content text-white sub-2">
			<div class="cover-image">
				<img src="{% static 'images/cover.jpg'%}" alt="cover" sizes="">
			</div>

			<p class="cover-item1">15% Off on Your First Order via subscription</p>
			<p class="cover-item2">30 Days Return</p>
			<p class="cover-item3">Worldwide Shipping</p>
		</div>
	</div>
<!--Новая коллекция-->
	<div class="section bg-white mt-6">
		<div class="grid-2a justify-sb mb-4">
			<div class="h2 text-black">
				new collection
			</div>
			<form action="{% url 'catalog:catalog' %}">
				<button class="button-light">discover all</button>
			</form>
		</div>
		<div class="grid-4">
			{% for product in new_products %}
				{% include 'catalog/includes/card.html'%}
			{% endfor %}
		</div>
	</div>
<!--Магазин-->
	<div class="section mt-6">
		<div class="grid-2 justify-sb mb-4">
			<div class="h2 text-black">
				shop
			</div>
			<div class="sub-3">
				 We have always appreciate the outdoors and what Mother Nature has to offer us. We believe that it’s our responsibility to make sure that our forests & oceans are still there for future free-thinkers to explore.
			</div>
		</div>
		<div class="grid-2">
			<div class="big-card">
				<img src="/static/images/woman.jpg" alt="woman">
<!--				<a href="#" class="button-light">shop woman</a>-->
			</div>
			<div class="big-card">
				<img src="/static/images/man.jpg" alt="man">
			</div>
		</div>
	</div>
<!--TOP-->
	<div class="section bg-black mt-6 py-5 text-white">
		<div class="grid-2a justify-sb mb-4">
			<div class="h2">
				top items
			</div>
			<form action="{% url 'catalog:catalog' %}">
				<button class="button-dark">discover all</button>
			</form>
		</div>
		<div class="grid-4">
			{% for product in top_items %}
				{% include 'catalog/includes/card.html'%}
			{% endfor %}
		</div>
	</div>

{% endblock %}