<!--Страница товара-->

{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<!--Product-->
<div class="section bg-white py-5 grid-2">
	<div>
		<img src="{% mediapath product.image %}" alt="{{ product.name }}" class="big-card">
	</div>
	<div>
		<div class="h2 text-black">
			{{ product.name }}
		</div>
		<div class="grid-2a justify-sb align-c mt-5">
			<div class="h3 text-black">
				{{ product.price }} руб
			</div>
			<div class="text-light-grey">
				viewed: {{ product.viewed }}
			</div>
		</div>
		<div class="text-black mt-5">
			<div class="h4 my-2">description</div>
			<div>{{ product.description }}</div>
			<div class="h4 my-2">category</div>
			<div>{{ product.category.name }}</div>
		</div>
		<div class="mt-4">
			<button class="button-light-w">add to bag</button>
		</div>
	</div>
</div>
<!--Also like-->
<div class="section bg-white mt-6">
	<div class="grid-2a justify-sb mb-4">
		<div class="h2 text-black">
			you may also like
		</div>
		<div>
			<button class="button-light">discover all</button>
		</div>
	</div>
	<div class="grid-4">
		{% for product in new_products %}
			{% include 'catalog/includes/card.html'%}
		{% endfor %}
	</div>
</div>

{% endblock %}